html{
    background-color: #ecdcc5;
    background-image: url(fond.jpg);
    background-attachment:fixed;
    background-position:center center;
    background-size: auto 100%;
    background-repeat:no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}