html{
    background-color: #ecdcc5;
    background-image: url(fond.jpg);
    background-attachment:fixed;
    background-position:center center;
    background-size: auto 100%;
    background-repeat:no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
    margin-top: 4%;
    font-size: 4em;
}

h2{
    text-align: center;
    margin-top: 4.43%;
    font-size: 3.5em;
}

.boutonre{
    margin-top: 300%;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 175%;
    padding-right: 175%;
    font-size: 230%;
}

.boutonsol{
    margin-top: 150%;
    padding-top: 40%;
    padding-bottom: 40%;
    padding-left: 125%;
    padding-right: 125%;
    font-size: 230%;
}

.boutonla{
    margin-top: 295%;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 175%;
    padding-right: 175%;
    font-size: 230%;
}

.boutonmi{
    margin-top: 300%;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 175%;
    padding-right: 175%;
    font-size: 230%;
}

.bouton:hover{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 9%;
    padding-right: 9%;
    margin-top: 9%;
    font-size: 300%;
}

.divbouton{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 20%;
    margin-left: 5%;
}

.return{
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 4.7%;
    border-color: red;
    margin-left: 1%;
}

.return:hover{
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    padding-left: 5.2%;
    padding-right: 5.2%;
    margin-top: 0.6%;
    margin-left: 0.4%;
    font-size: 230%;
    margin-bottom: 4.3%;
    background-color: #ffd7d7;

}

img{
    width: 12%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;
    transform: rotate(78deg);
}

button{
    border-radius: 20%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    transition: 0.25s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    border-style: solid;
    border-width: 0.3em;
}

button:hover{
    margin-top: 1.59%;
    margin-bottom: 1.59%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: -2%;
    margin-right: -2%;
    font-size: 220%;
}

.boutonmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    text-decoration: none;
}

.menu{
    margin-top: 13.9%;
}

.jouer{
    border-color: blue;
}

.jouer:hover{
    background-color: #d7d7ff;
}

.tuto{
    border-color: green;
}

.tuto:hover{
    background-color: #d7ffd7;
}

.quit{
    border-color: red;
}

.quit:hover{
    background-color: #ffd7d7;
}

.dif{
    border-color: black;
}

.dif:hover{
    background-color: gray;
}

.moy{
    border-color: saddlebrown;
}

.moy:hover{
    background-color: burlywood;
}

.fac{
    border-color: orange;
}

.fac:hover{
    background-color: peachpuff;
}

#sol{
    border-color: green;
    background-color: #d7ffd7;
    color: green;
}

#re{
    border-color: red;
    background-color: #ffd7d7;
    color: red;
}

#la{
    border-color: blue;
    background-color: #d7d7ff;
    color: blue;
}

#mi{
    border-color: gold;
    background-color: #ffffd7;
    color: gold;
}

#sol1{
    border-color: green;
    background-color: #d7ffd7;
    color: #d7ffd7;
}

#re1{
    border-color: red;
    background-color: #ffd7d7;
    color: #ffd7d7;
}

#la1{
    border-color: blue;
    background-color: #d7d7ff;
    color: #d7d7ff;
}

#mi1{
    border-color: gold;
    background-color: #ffffd7;
    color: #ffffd7;
}

#sol2{
    border-color: black;
    background-color: transparent;
    color: black;
}

#re2{
    border-color: black;
    background-color: transparent;
    color: black;
}

#la2{
    border-color: black;
    background-color: transparent;
    color: black;
}

#mi2{
    border-color: black;
    background-color: transparent;
    color: black;
}